name: Run Tests

on:
  push:
    branches:
      - YACI01-yaya 
      
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.12

    - name: Create Directories
      run: mkdir -p src/data/raw

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r src/requirements.txt

    - name: Run scraping_trustpilot.py
      run: python src/scraping_trustpilot.py
